services:
  web:
    container_name: portfolio-web
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "4321"
    restart: unless-stopped
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    external: true
