html {
  scroll-behavior: smooth;
}

main {
  margin: auto;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  color: white;
  font-size: 20px;
  line-height: 1.6;
  overflow-x: hidden;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  /* Start hidden */
  animation: fadeIn 0.5s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}
