---
import "../styles/footer.css";
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="content">
    <p>&copy; {currentYear} Pablo Sierra. All rights reserved.</p>
    <div class="socials">
      <a
        href="https://github.com/sierrapablo"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >
    </div>
  </div>
</footer>
