---
import "../styles/header.css";
---

<header>
  <nav>
    <div class="logo">Pablo Sierra</div>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li><a href="#experience">Experience</a></li>
    </ul>
  </nav>
</header>
