---
import { incrementVisits } from "../lib/visits.ts";

const ip =
  Astro.request.headers.get("x-forwarded-for") ||
  Astro.request.headers.get("host") ||
  "anon";
const visits = await incrementVisits(ip);
---

<div>
  <p>Visitas totales: {visits}</p>
</div>
