---
import "../styles/global.css";
// import { ClientRouter } from "astro:transitions";
// import { fade } from "astro:transitions";
import type { Props } from "../types/layout";

const { title, description = "Pablo Sierra Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* TODO: investigate how to make it work properly with scrollToTop */}
    {/* <ClientRouter /> */}
  </head>
  <body>
    {/* TODO: when ClientRouter is working, add transitions */}
    {/* <body transition:animate={fade({ duration: "1s" })} /> */}
    <slot />
  </body>
</html>
