name: Format code

on:
  push:
    branches:
      - develop

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Prettier
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --write .
          commit_message: "chore: format code"
